@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&display=swap");

:root {
  --primary: #0d6efd;
  --dark: #222;
  --light: #f5f5f5;
  --body: #888;
  --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: medium;
  line-height: 1.7;
  color: var(--light);
}

a {
  color: var(--light);
  text-decoration: none;
  padding: 5px;
}
a:hover {
  color: var(--light);
  opacity: 0.8;
}

.bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url(/img/cover-3.jpg);
  background-position: center;
  background-size: cover;
}
/* 
.bg {
  background-color: var(--dark);
} */

.form-box {
  width: 600px;
  padding: 30px;
  background: rgba(100, 100, 100, 0.4);
  box-shadow: var(--box-shadow);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.social-icon {
  margin: 20px;
  display: flex;
  justify-content: start;
  padding-top: 5px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}

ion-icon {
  font-size: 24px;
  margin: 0 20px;
  color: var(--light);
}
ion-icon:hover {
  color: var(--body);
}

.btn-primary {
  background: linear-gradient(to right, #00b4db, var(--primary));
}

.btn-default {
  box-shadow: var(--box-shadow);
}
.btn-default:hover {
  color: var(--light);
  opacity: 0.8;
}

.line {
  display: flex;
  flex-direction: row;
}
.line:before,
.line:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}
.line:before {
  margin-right: 10px;
}
.line:after {
  margin-left: 10px;
}
